.header{
    display: flex;
    flex-direction: column;
    margin: 0 0 20px 0;
    background-color: rgb(91, 91, 173);
    text-align: center;
    padding: 10px 0;

}
.nav{
    display: flex;
    flex-direction: column;
    padding: 10px 0;
    margin: 20px 0 20px 0;
    background-color: rgb(91, 91, 173);
    text-align: center;

}
.main{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;

}
.aside{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(91, 91, 173);
    width: 20%;
    height: 300px;
}
.section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(91, 91, 173);
    width: 20%;
    height: 300px;
    flex-grow: 1;
    margin: 0 0 0 25px;
}
.article{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(89, 89, 138);
    position: absolute;
    left: 50%;
    padding: 40px 200px;
    bottom: 170px;
    left: 300px;

}
.footer{
    display: flex;
    flex-direction: column;
    margin: 20px 0 0 0;
    background-color: rgb(91, 91, 173);
    text-align: center;
    padding: 10px 0;
}